@model IEnumerable<BookStore.Models.Location>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationLatitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationLongitude)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationLatitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationLongitude)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LocationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LocationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LocationID })
        </td>
    </tr>
}

</table>
